################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LogMonitor/.vs/LogMonitor
/LogMonitor/LogMonitor/obj
/LogMonitor/LogMonitorData/obj
/LogMonitor/LogMonitorService/obj
/LogMonitor/LogMonitor/bin/Debug/net8.0
/LogMonitor/LogMonitorData/bin/Debug/net8.0
/LogMonitor/LogMonitorService/bin/Debug/net8.0/runtimes/win/lib/net8.0
/LogMonitor/LogMonitorService/bin/Debug/net8.0
/LogMonitor/LogMonitorTests/bin
/LogMonitor/LogMonitorTests/obj
